* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-info {
    padding: 230px;
}

.header-title {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    width: 550px;
    position: absolute;
    left: 845px;
    right: 230px;
    top: 216px;
    bottom: 2785px;
}

.header-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    width: 550px;
    position: absolute;
    left: 876px;
    right: 230px;
    top: 468px;
    bottom: 2683px;
}

.btn-header {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 95, 172);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 15px 25px;
    margin: 30px;
    border: 0;
    text-align: right;
    position: absolute;
    left: 1210px;
    right: 230px;
    top: 578px;
    bottom: -578px;
}